{% extends "template.html" %}
{% block content %}

<script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>

  <h1>Welcome to My Place</h1>
  <div class="add-item">
    <h3>Add a new item:</h3>
      <form class="form-inline" action="
                {% if modify_item %}
                  {{ url_for('save_modify') }}
                {% else %}
                  {{ url_for('add_item') }}
                {% endif %}
      " method="post">
        {{ form.csrf_token }}
        <p>
          {% if modify_item %}
             {{ form.item_id }}
          {% endif %}
        <p>
        {{ form.name(placeholder="name") }}

        <span class="error">
          {% if form.name.errors %}
            {% for error in form.name.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>

        </p>
        <p>
        {{ form.item_details(placeholder="item details") }}

        <span class="error">
          {% if form.item_details.errors %}
            {% for error in form.item_details.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>

        </p>
        <p><button class="btn btn-sm btn-success" type="submit">Submit</button></p>
      </form>
  </div>


  <div class="entries">
    <br>
    <div class="lead">Items</div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th width="150px"><strong>Item Name</strong></th>
            <th width="125px"><strong>Posted Date</strong></th>
            <th width="300px"><strong>Item Details</strong></th>
            <th width="125px"><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for o in all_items %}
          <tr>
            <td width="150">{{ o.name }}</td>
            <td width="125px">{{ o.posted_date }}</td>
            <td width="300px">{{ o.item_details }}</td>
            <td width="125px">
                    <a href="{{ url_for('delete_item', item_id = o.item_id) }}">Delete</a>
                    <a href="{{ url_for('modify_item', item_id = o.item_id) }}">Modify</a>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <br>
  <div>
{% endblock %}